<section id="module-template" class="hide">
  <div class="row module">
    <div class="columns small-12 module-inner">

      <div class="row">
        <div class="columns small-1 small-offset-11">
          <div class="remove-button-wrapper">
            <span class="remove-button">X</span>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="columns small-6">
          <label>
            Module Code:
            <input type="text" placeholder="e.g. CS1010">
          </label>
        </div>

        <div class="columns small-3">
          <label>
            Grade:
            <select class="grade">
              <option value="-1">S/U</option>
              <option value="-1">CS/CU</option>
              <option value="5.0" selected>A+</option>
              <option value="5.0">A</option>
              <option value="4.5">A-</option>
              <option value="4.0">B+</option>
              <option value="3.5">B</option>
              <option value="3.0">B-</option>
              <option value="2.5">C+</option>
              <option value="2.0">C</option>
              <option value="1.5">D+</option>
              <option value="1.0">D</option>
              <option value="0.0">F</option>
            </select>
          </label>
        </div>

        <div class="columns small-3">
          <label>
            MCs:
            <select class="mc">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4" selected>4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
            </select>
          </label>
        </div>
      </div>

    </div>
  </div>
</section>

