<footer class="row">
    <div class="columns small-12 ext-links">
      <a href="https://www.youtube.com/channel/UCVd-qsSFF328UUqcNxudy0w"><i class="fa fa-youtube-square fa-3x">&nbsp;</i></a>
      <a href="https://www.facebook.com/nuscomputing/"><i class="fa fa-facebook-official fa-3x">&nbsp;</i></a>
      <a href="http://nuscomputing.com"><i class="fa fa-external-link-square fa-3x">&nbsp;</i></a>
    </div>
</footer>